.category-button {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border-radius: 4px;
	background-color: var(--background-light);
	box-shadow: 0 2px 5px rgba(211, 209, 238, 0.5);
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	border: 0;
	text-transform: uppercase;
}

.category-button:hover {
	background-color: var(--grey-light);
}

.category-icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.category-name {
	flex-grow: 1;
	text-align: left;
}

.right-arrow {
	width: 16px;
	height: 16px;
	margin-left: 10px;
}

.category-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 32px;
}

@media (max-width: 768px) {
	.category-list {
		flex-direction: column;
	}

	.category-button {
		width: 100%;
	}

	.category-icon,
	.right-arrow {
		width: 20px;
		height: 20px;
	}
}

@media (min-width: 769px) {
	.category-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}
